.form__input-wrapper{
  width: 100%;
}
.form__input{
  width: 100%;
  background: transparent;
  font-family: SpaceGrotesk;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-left: 2.4rem;
  padding-bottom: 1.6rem;
  color:var(--white);
  border: none;
  border-bottom: 1px solid var(--white);
  text-transform: uppercase;
  z-index: 2;
}
.form__input-wrapper{
  display: flex;
  position: relative;
  flex-direction: column-reverse;
}
.form__input-wrapper:not(.form__input-wrapper:first-child){
  margin-top: 3.2rem;
}
.form__input:focus-visible{
  outline: none;
}
.form__input::placeholder{
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: SpaceGrotesk;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.form__input:focus{
  border-color:  var(--green);
}

span.alert + .form__input {
  border-color:  var(--alert);
}
.empty{
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.166667px;
}
.alert{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.166667px;
  color: var(--alert);
}
.alert::before{
  content: url("./alert.svg");
  align-self: flex-end;
  width: 2.4rem;
  height: 2.4rem;
}
.form__input:invalid + .email-alert.hidden{
  display: block;
}

.input-message textarea{
  height: 250px;
  resize: none;
}
.form__btn-submit{
  align-self: flex-end;
  margin-top: 3.2rem;
}

/*  avoid "-internal-autofill-selected" style */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}