/* main */
.main{
  flex: 1;
  width: 100%;
  padding:11rem 1.6rem 1.6rem;
}

  /*section intro*/
  .intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;

  }
  .intro__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.8rem;
    order:2;
    transition: 0.5s linear;

  }
  .intro__text p:first-child{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
  }
  .intro__text--br-hidden{
    display: none;
  }
  .intro__text p{
    line-height: 2.6rem;
    font-weight: 500;
    text-align: center;
  }
  .intro__text p:not(p:first-child){
    color: var(--light-gray);
    margin-top: 2.4rem;

  }
  .text--underline{
    display: inline-block;
    border-bottom: 4px solid var(--green);
  }
  .intro__link{
    margin-top: 2.4rem;
  }

  .intro__img{
    order: 1;
    width: 60%;
    max-width: 75%;
    height: 367px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 10%;
    z-index: 1;
    filter: grayscale(100%) sepia(41%);
  }

  .intro .decor__rings {
    top:14vh;
    left:-342px;
  }
  .intro .decor__circle {
    top:38.8vh;
    right: 0;
    z-index: 99;
    overflow: hidden;
  }
  .intro .decor__circle > svg {
    margin-left: 50%;
  }
  /* end */

  /* section skills */
  .skills{
    margin-top: 8rem;
    padding: 4rem 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

  }
  .skills__list{
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  .skills__item:not(.skills__item:first-child){
    margin-top: 2.4rem;
  }
  .skills__item h3{
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: bold;
  }
  .skills__item p {
    line-height: 2.6rem;
    color: var(--light-gray);
    text-transform: capitalize;
  }
  
  .skills .decor__rings {
    top:140.7vh;
    overflow: hidden;
    right: 0;
  }
  .skills .decor__rings > svg {
    margin-left: 50%;
  }

  /* end */

  /* section Projects */
  .projects{
    margin-top: 6rem;
    padding-bottom: 8rem;
  }
  .projects__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s linear;

  }
  .projects__list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
   transition: 0.5s linear;
  }
  /* project card */

  .project{
    min-width: 345px;
    min-height: 400px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
    row-gap:2rem;
    
  }
  .project:not(.project:first-child){
    margin-top: 4rem;
  }
  
  .project__top{
    flex: 0 0 250px;
    position: relative;
    overflow: hidden; 
  }
  .project__image{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .project__image >img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .project__bottom{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 1rem 0;
  }
  .project__title{
    min-height: 6.4rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    flex-grow: 0.5;
  }
  .project__describe{
    margin-top: 0.7rem;
  }
  .project__tech-list{
    flex-wrap: wrap;
    margin-top: auto;
    column-gap: 1.5rem;
  }
  .describe__item{
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: var(--green);
  }

  .project__links-wrapper{
    /* position: absolute; */
    width: 100%;
    /* height: auto; */
    /* left: 0; */
    /* bottom: -20rem; */
    display: flex;
    gap: 3rem;
    transition: 0.5s linear;
    order:5;
    margin-top: auto;
  }
  /* end */
/* main end */

/* media queries */
@media screen and (min-width: 768px) {
  /* main */
  .main{
    padding: 0 3.2rem 2rem 3.2rem;
  }
    /*section intro*/
    .intro{
      margin-top: 15.1rem;
      align-items: flex-start;
    }
    .intro__text{
      /* min-width: 445px; */
      width: 65%;
      max-width: 70%;
      align-items: flex-start;
      margin-top: 0;
    }

    .intro__text p:first-child{
      max-width:100%;
      font-size: 5rem;
      line-height:5rem;
      letter-spacing: -2.05px;
      text-align: left;
    }
  
    .intro__text--br-hidden{
      display: block;
    }

    .intro__text p{
      max-width: 450px;
      line-height: 2.8rem;
      font-size: 1.8rem;
      text-align: left;
    }

    .intro__text p:not(p:first-child){
      margin-top: 6.4rem;
    }
    .intro__link{
      margin-top: 4.6rem;
      text-align: left;
    }
    .intro__img{
      position: absolute;
      top:0;
      right: 0;
      max-width: 350px;
      height: 600px;
      background-size: contain;
    }
    .intro .decor__rings {
      top:9vh;
      left:-265px;
    }
    .intro .decor__circle {
      top:50.5vh;
    }
    /* end */

    /* section skills */
    .skills{
      margin-top: 6rem;
      padding: 0;
      border-bottom: none;
    }
    .skills__list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
      text-align: left;
    }
    .skills__item:not(.skills__item:first-child), .skills__item:first-child{
      margin-top: 5.2rem;
    }
    .skills__item h3{
      font-size: 4.8rem;
      line-height: 5.6rem;
      letter-spacing: -1.5px;
    }
    .skills__item p {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    .skills .decor__rings {
      top:107.5vh;
    }
    /* end */

    /* section Projects */
    .projects{
      margin-top: 10rem;
    }
    .projects__title{
      letter-spacing: -2.04545px;
    }
    .projects__list{
      grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem;
      margin: 0;
    }
    .project:not(.project:first-child),.project{
      margin-top: 6rem;
    }
    .project__title{
      letter-spacing: 0;
    }
    /* end */
  /* main end */
}


@media screen and (min-width: 850px) {
    .intro__text p:first-child{
      font-size: 6.2rem;
      line-height:6.2rem;
    }
}

@media screen and (min-width:1440px) {
  /* main */
  .main{
    padding: 0 16.5rem 2rem 16.5rem;
  }
    /*section intro*/
    .intro{
      margin-top: 19.8rem;
    }  
    .intro__text{
      min-width: 706px;
    }
    .intro__text p:first-child{
      max-width: 706px;
      font-size: 8.8rem;
      line-height: 8.8rem;
      letter-spacing: -2.5px;
      text-align: left;
    }

    .intro__text--br-hidden{
      display:none;
    }
    .text--underline{
      border-width: 6px;
    }

    .intro__text p{
      max-width: 445px;
      line-height: 2.8rem;
      font-size: 1.8rem;
      text-align: left;
    }
    .intro__text p:not(p:first-child){
      margin-top: 3.7rem;
    }
    .intro__link{
      margin-top: 6.6rem;
    }
    .intro__img{
      position: absolute;
      right: 12rem;
      max-width: 445px;
      height: 720px;
      background-size: contain;
    }
    .intro .decor__rings {
      top:14.1vh;
      left:-99px;
    }
    .intro .decor__circle {
      top:61.8vh;
      left:calc(100vw - 672.5px);
    }
    .intro .decor__circle > svg {
      margin-left: 0;
    }
    /* end */
    
    /* section skills */
    .skills{
      margin-top: 21.9rem;
      padding: 2rem 0.5rem
    }    
    .skills__list{
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
    }
    .skills__item{
      min-width: 345px;
    }
    .skills__list .skills__item:nth-child(n+4){
      margin-top: 5.8rem;
    }
    .skills__item p {
      font-size: 1.8rem;
      margin-top: 1.4rem;
    }
    .skills .decor__rings {
      top:115vh;
      /* left:calc(100vw - 290px); */
    }
    /* end */
    
    /* section Projects */
    .projects{
      margin-top: 12rem;
      padding-bottom: 11.9rem;

    }
    .projects__list{
      gap: 0;
      column-gap: 3rem;
    }
    .project{
      position: relative;
      min-width: 540px;
      max-width: 540px;
    }


    .project:not(.project:first-child),.project{
      margin-top: 8rem;
    }
    .projects__list .project:nth-child(n+3){
      margin-top: 6.9rem;
    }

    .project:nth-child(even){
      justify-self: flex-end;
    }
    .project__links-wrapper{
      display: flex;
      align-items: center;
      justify-content:  center;
      bottom: 0;
      border: 1px solid white;
      opacity:1;
      background-color: rgba(0,0,0,0.75);
    }
    .project__links-wrapper:hover{
      opacity: 1;
    }
     /* end */
  /* main end */
}